// Bulma Import
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$family-sans-serif: 'Roboto';
$weight-bold: 'bold';
$primary: #1d9add;
$success: #6ac24b;

@import '~bulma';

$tooltip-background-color: #88a080;
@import '~bulma-tooltip';
